a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}



nav .navbar-nav li a{
  color: #00B5E2 !important;
}

/* Provide sufficient contrast against white background */
.nav-link:hover{
  font-weight: 500;
}


.nav-pills .nav-link.active,.nav-link .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



