<div class="container-fluid" style="width: 60%;">
<table mdbTable hover="true">
    <thead>
      <tr>
        <th *ngFor="let lbl of labelsTable" scope="col">{{lbl}} </th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let value of pendingList; let i = index">
        <div *ngIf="pendingList.length== 0 ">REEEEEEEEEEE</div>
        <th scope="row">{{i+1}}</th>
        <td>{{value.username}}</td>
        <td>{{value.pendignDays}}</td>      
    
      </tr>
    </tbody>
  </table>
</div>