<div class="container py-5 mt-5">
  <div class="card medi-card">
  <div class="card-body">
  <form [formGroup]="formUpdate" (submit)="formSubmit()">
    <div class="form-group">
      <h2 class="title">Let’s update your medical data!</h2>
      <h3 class="title">Please fill out the information below.</h3>
    </div>
    <div class="form-group">
      <label  for="carb">Carbs (grams) </label>
      <input  type="number"
              class="form-control"
              id="carb"
              placeholder="carb"
              formControlName="carb">
  
      <div *ngIf="formUpdate.get('carb').errors?.required && formUpdate.get('carb').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <div class="form-group">
        <label  for="glucose">Glucose ( mg/dL) </label>
        <input  type="number"
                class="form-control"
                id="glucose"
                placeholder="Enter the glucose"
                formControlName="glucose">
    
        <div *ngIf="formUpdate.get('glucose').errors?.required && formUpdate.get('glucose').dirty" class="text-danger">
          Field is required
        </div>
      </div>  
    <button type="submit" class="btn btn-primary">Update</button>
  </form> 
  </div>
 </div>
</div>
