<div class="container">
  <div *ngIf="sessionStorage.getItem('modified') == 'true'">
    <div class="alert alert-info alert-dismissible" id="alert-box">
      <button type="button" class="close" (click)="onClickUpdate()" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Doctor made a modification to a consultation.
    </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">dashboard page</h5>
        <p class="card-text">Lorem ipsum</p>
      </div>
  </div>

</div>
