#alert-box{
    position: relative; 
    left:25%;
    width: 50%;
}

.jumbotron{
    /* The image used */
    background: url('/assets/background.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #Services{
      background-color: #13294B;
  }

  #service{
      color:white;
  }

 