
<form [formGroup]="form"  style=" width: 50%; margin: auto;">
  
    <div class="form-group">
      <label  for="email">Email</label>
      <input  type="text"
              class="form-control"
              id="email"
              placeholder="Enter email"
              formControlName="email">
  
      <div *ngIf="form.get('email').errors?.required && form.get('email').dirty" class="text-danger">
        Field is required
      </div>
    </div>

    <div class="form-group">
      <label  for="username">Username</label>
      <input  type="text"
              class="form-control"
              id="username"
              placeholder="Enter username"
              formControlName="username">
  
      <div *ngIf="form.get('username').errors?.required && form.get('username').dirty" class="text-danger">
        Field is required
      </div>
    </div>
  
    <div class="form-group">
      <label  for="password">Password</label>
      <input  type="text"
              class="form-control"
              id="password"
              placeholder="Enter password"
              formControlName="password">
  
      <div *ngIf="form.get('password').errors?.required && form.get('password').dirty" class="text-danger">
        Field is required
      </div>
    </div>
 

    <div class="form-group">
      <label  for="firstName">First Name</label>
      <input  type="text"
              class="form-control"
              id="firstName"
              placeholder="Enter first name"
              formControlName="firstName">
  
      <div *ngIf="form.get('firstName').errors?.required && form.get('firstName').dirty" class="text-danger">
        Field is required
      </div>
    </div>

    <div class="form-group">
      <label  for="lastName">Last Name</label>
      <input  type="text"
              class="form-control"
              id="lastName"
              placeholder="Enter last name"
              formControlName="lastName">
  
      <div *ngIf="form.get('lastName').errors?.required && form.get('lastName').dirty" class="text-danger">
        Field is required
      </div>
    </div>
      
      {{form.value | json}}  
        <!-- //[disabled]="!form.valid" -->
    <button type="submit" (click)="formRegisterSumbit()" class="btn btn-primary">Submit</button>
  </form>
 
