
<form [formGroup]="form" (submit)="formSumbit()">

    <!-- carb  -->
   
    <div class="form-group">
      <label  for="carbInput">Carbs (grams) </label>
      <input  type="number"
              class="form-control"
              id="carbInput"
              placeholder="carb"
              formControlName="carb">
  
      <div *ngIf="form.get('carb').errors?.required && form.get('carb').dirty" class="text-danger">
        Field is required
      </div>
    </div>
    <!-- /carb -->


    <!-- glucose  -->
    <div class="form-group">
        <label  for="carbInput">Glucose ( mg/dL) </label>
        <input  type="number"
                class="form-control"
                id="glucoseInput"
                placeholder="Enter the glucose"
                formControlName="glucose">
    
        <div *ngIf="form.get('glucose').errors?.required && form.get('glucose').dirty" class="text-danger">
          Field is required
        </div>
      </div>
      <!-- /carb -->
  
 
      {{form.value | json}}  
        //[disabled]="!form.valid"
    <button type="submit" class="btn btn-primary"   >Submit</button>
  </form>
 

