
.card{
    border:none;
    margin:auto; 
    width: 50%;
}

.delete{
    background-color: white;
    float:right;
    border:none;
    outline: none;
    opacity:0.5;
}

#delete_button{

    margin-top: 70px;
}

.del{
    position: relative;
    top:100px;
}

@media only screen and (max-width: 768px) {
    .card{ 
        width: 80%;
    }
}