<div class="container py-5 mt-5">
    <div class="card consultation-card">
    <div class="card-body">
    <form [formGroup]="form" (submit)="formSubmit()">
        <div class="form-group">
          <h2 class="title">Let’s add a consultation!</h2>
          <h3 class="title">Please fill out the information below.</h3>
        </div>
  
        <div class="form-group">
          <label for="medicationNameInput">Medication name </label>
          <input type="text" class="form-control" id="medicationNameInput" placeholder="Enter the medication name" formControlName="medicationName">
          <div *ngIf="form.get('medicationName').errors?.required && form.get('medicationName').dirty" class="text-danger">
            Field is required
          </div>
        </div>
        
        <div class="form-group">
            <label for="dosageInput">Dosage </label>
            <input type="number" class="form-control" id="dosageInput" placeholder="Enter the dosage" formControlName="dosage">
            <div *ngIf="form.get('dosage').errors?.required && form.get('dosage').dirty" class="text-danger">
              Field is required
            </div>
        </div>

        <div class="form-group">
          <label for="adviceInput">Advice</label>
          <textarea id="dosageInput" class="form-control" placeholder="Enter your advice" style="height:100px" formControlName="advice"></textarea>
          <div *ngIf="form.get('advice').errors?.required && form.get('advice').dirty" class="text-danger">
            Field is required
          </div>
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  