<div class="container" style="margin-top:50px;">
  <h2>Consultation List</h2>
  <div id="accordion" class="bg-light clearfix" style="margin-top:50px;" >
    <div class="card"  *ngFor="let value of consultations;let i = index">
      <div class="card-header" id="{{value.medicationName + 't'}}">
       
          <button class="btn btn-link" data-toggle="collapse"  id="btn-link" [attr.data-target]="'#'+value.medicationName" aria-expanded="true" [attr.aria-controls]="value.medicationName">
           <p class="text-left"> 
             <b>Medication Name:</b> {{value.medicationName}}<br>
            <b>Dosage: </b>{{value.dosage}}<br>       
            <small class="text-muted">{{value.consultationDate | date}}</small>
          </p>
         
          </button>
        
      </div>
      <div id="{{value.medicationName}}" class="collapse" [attr.aria-labelledby]="value.medicationName + 't'" data-parent="#accordion">
        <div class="card-body">
          <h6 class="card-title">Medical Data</h6>    
            <div *ngFor="let medi of medidata">
              <div *ngIf="value.id == medi.consultation_id">
                <p class="divider-text"> <span></span></p>
                <b>Carb: </b>{{medi.carb}} mg/dL<br>
                <b>Glucose: </b>{{medi.glucose}} mg/dL<br>  
                <small class="text-muted">{{medi.measuredDate | date}}</small>         
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


