<h2 class="title" style="padding-top:30px;text-align: center;">My Medical Data</h2>

    <div *ngIf = "mediData">
      <app-medidata-charts [carbValues]="carbs" [glucoseValues]="glucose" [dateValues] = "dates" ></app-medidata-charts>
    </div>

    <div class="container" style="margin-top: 20px;">
    <table mdbTable hover="true">
      <thead>
        <tr>
          <th *ngFor="let lbl of labelsTable" scope="col">{{lbl}} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let medi of mediData; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{medi.glucose}}</td>
          <td>{{medi.carb}}</td>
          <td>{{medi.measuredDate | date:'medium'}}</td>
      
        </tr>
      </tbody>
    </table>

</div>
