<header>
 <app-nav></app-nav>
</header>

<div id="page-container">
  <div id="content-wrap">
    <router-outlet> </router-outlet>
  </div>
  <footer id="footer">
  <div class="container pt-3">
    <div class="d-flex">
      <div class="p-2">
        <img class="logo" src="/assets/images/logo.png"><span class="logo-text">DIAS Healthcare ©2020</span>
      </div>
      <div class="p-2">
        <div class="line"></div>
      </div>
      <div class="p-2">
        <i class="fa fa-globe"></i>
        <span class="logo-text3">Greece</span>
      </div>
      <div class="ml-auto p-2">
        <span class="logo-text2">Powered by</span><img class="logo2" src="/assets/images/Pfizer_logo.png">
      </div>
    </div>
    
  </div>
  </footer>
</div>

