
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 4rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;  
    background-color:#F0F8FF;         /* Footer height */
  }
  
  .logo-text{
    font-size:13px;
    padding-left: 10px;
    font-weight: 600;
  }

  .logo-text2{
    font-size:13px;
    padding-right: 10px;
    font-weight: 600;
  }

  .logo-text3{
    font-size:14px;
    padding-left: 10px;
    font-weight: 450;
  }
  
  .logo{
    width:40px;
  }

  .logo2{
    width:60px;
  }
  
  .line {
    border-left: 1px solid black;
    margin-top: 5px;
    height: 30px;
    opacity:0.2;
  }

  .fa{
    color:#00B5E2;
    font-size:22px;
    margin-top: 7px;
  }