#alert-box{
    position: relative; 
    left:25%;
    width: 50%;
}

.title{
    color: white;
    font-size: 50px;
    font-weight: 650;
}

.btn{
    margin-top: 20px;
    border-radius: 27.5px;
}

.btn-text{
    font-weight:700;
    font-size:12px;
    padding:5px;
    letter-spacing: 2px;
}

#patient-jumb{
    background: url('/assets/background.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #doctor-jumb{
    background: url('/assets/images/medic.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  #Services{
      background-color: #13294B;
  }

  #service{
      color:white;
  }

@media only screen and (max-width: 768px) {
    .title{
        color: white;
        font-size: 30px;
        font-weight: 650;
    }
}


 